.Users-component {
    background-image: linear-gradient(to right, #d3cce3, #e9e4f0); 
    .header-users {
        height: 200px;
        text-align: center;
        background: white;
        h1 {
            font-size: 70px;
            margin-bottom: 0;
        }
        h3 {
            color:darkslateblue;
        }
    }
.Users-row {
    display: flex;
    flex-wrap: wrap;
    img {
        width: 250px;
        border-radius: 50%;
        border: 6px solid white;
    }
    .users-element {
        background: black;
        color: white;
        padding: 1% 5%;
        border-radius: 50px;
        margin: 2% 15%;
        display: flex;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid gray;
        h3 {
            font-size: 32px;
            background: darkslateblue;
            margin-top: 10px;
            padding: 0px 10px;
        }
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    
}
.footer-users {
    background-color: white;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}